* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Helvetica";
}

a {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

header ul, li {
    list-style-type: none;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-right: 35px;
    margin-top: -17px;
}

header {
    height: 387.56px;
    background: #0020F4;
    padding-top: 27px;
    padding-left: 240px;
}

.navbar {
    margin-left: 400px;

}

.navbar-contact a {
    color: #171717;
}

.navbar-contact {
    width: 160px;
    height: 55px;
    background-color: #ffffff;
    border-radius: 28px;
    margin-top: -35px;
    padding: 18px 43px 18px 36px;
    height: unset;
}

.logo {
    width: 115px;
    height: 65px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -150px;
    margin-bottom: 100px;
}

section p {
    margin-top: 30px;
    color: #171717;
}

section h3 {
    margin-top: 20px;
    font-size: 28px;
    font-family: "Helveticabd";
}

.section-button {
    margin-top: 35px;
    background-color: #0A22F4;
    color: #ffffff;
    font-size: 16px;
    border-radius: 28px;
    width: 341px;
    height: 55px;
}

.section-images {
    margin-top: 30px;
}

.section-images img {
    margin: 13px;
}

footer {
    background-color: #0A22F4;
    height: 600px;
    padding-top: 100px;
    padding-left: 240px;
}

.footer-contact {
    width: 463px;
    height: 99px;
    margin-bottom: 50px;
}

.footer-contact h3 {
    color: #ffffff;
    margin-bottom: 15px;
}

footer p, span {
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
}

.footer-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 670px;
}

.heart {
    margin-bottom: 10px;
    width: 26px;
    height: 26px;
}

.smartweb {
    margin-left: 30px;
    width: 121px;
    height: 35px;
}

#map {
    height: 200px;
    width: 460px;
    border-radius: 15px;
    margin-bottom: 80px;
}